@model Backend_Cumulative_01.Models.Teacher

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>Teacher ID: @Model.TeacherId</p>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate</p>
<p>Salary: @Model.Salary</p>